<div xmlns:th="http://www.thymeleaf.org" th:fragment="summary-none" class="panel border rounded">
    <div class="col-md-12">
        <h3 class="text-center mt-4">サマリー</h3>
    </div>
    <div class="text-center m-5">
        <small>予算または実績が登録されるとサマリーが表示されます</small>
    </div>
</div>

<div xmlns:th="http://www.thymeleaf.org" th:fragment="summary" class="panel border rounded pr-2 pl-2">
    <div class="row">
        <div class="col-lg-12">
            <h3 class="text-center mt-4 mb-3">サマリー</h3>
        </div>
    </div>
    <div class="row">
        <div class="mx-auto">
            <table>
                <tr>
                    <td class="text-center"><small>予算合計</small></td>
                    <td class="text-center"></td>
                    <td class="text-center"><small>実績合計</small></td>
                    <td class="text-center"></td>
                    <td class="text-center"><small>残額</small></td>
                </tr>
                <tr>
                    <td class="text-center">
                        <div class="border rounded">
                            [[ ${budgetChart.sum()} ]] 円
                        </div>
                    </td>
                    <td class="text-center">
                        <span>-</span>
                    </td>
                    <td class="text-center">
                        <div class="border rounded">
                            [[ ${expenseChart.sum()} ]] 円
                        </div>
                    </td>
                    <td class="text-center">
                        <span>=</span>
                    </td>
                    <td class="text-center">
                        <div class="border rounded">
                            [[ ${budgetChart.sum()} - ${expenseChart.sum()} ]] 円
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 mt-3">
            <h4 class="text-center">
                予算内訳
            </h4>
            <div th:replace="panel/chart.html::budget-chart"></div>
        </div>
        <div class="col-lg-6 mt-3">
            <h4 class="text-center">
                実績内訳
            </h4>
            <div th:replace="panel/chart.html::expense-chart"></div>
        </div>
    </div>
</div>