body {
    padding-top: 70px;
    background-image: url("../images/background.png");
    font-family: Lato, "Noto Sans JP", "游ゴシック Medium", "游ゴシック体", "Yu Gothic Medium", YuGothic, "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

a {
    color: black;
}

#login-form {
    width: 400px;
    background-color: white;
    box-shadow: 2px 2px 4px gray;
}

.month-link-right .month-link-left {
    text-decoration: underline;
    position: absolute;
    top: 30px;
}

.month-link-right {
    right: 20px;
}

.month-link-left {
    left: 20px;
}

.panel {
    min-height: 300px;
    background-color: white;
    box-shadow: 2px 2px 4px gray;
}

.panel-link {
    position: absolute;
    top: -2px;
    right: 20px;
}

.form-background {
    background-color: white;
    box-shadow: 0 0 40px white;
}

.table-background {
    background-color: white;
    box-shadow: 2px 2px 4px gray;
}