<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/header.html::header"/>
<body>
<div th:replace="common/navbar.html::navbar"></div>
<div class="container">
    <div class="row">
        <div id="login-form" class="border mx-auto mt-5 rounded">
            <form th:action="@{/login}" method="post">
                <div class="m-4">
                    <h2 class="text-center">Login</h2>
                </div>
                <div class="form-group m-4">
                    <label for="userName">User Name</label>
                    <input type="text" id="userName" class="form-control" name="userName">
                </div>
                <div class="form-group m-4">
                    <label for="password">Password</label>
                    <input type="password" id="password" class="form-control" name="password">
                </div>
                <div class="m-4">
                    <button class="btn btn-primary btn-block" type="submit">Login</button>
                </div>
                <p class="text-center">
                    Don't have account ? <a th:href="@{/signup}">Sign Up now!</a>
                </p>
            </form>
        </div>
    </div>
</div>
</body>
</html>